<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" name="LogViewer" packages="">
  <Properties>
    <Property name="baseDir">logs</Property>
  </Properties>
  <Appenders>
    <RollingFile name="BOARollingFile" fileName="${baseDir}/app.log"
                 filePattern="${baseDir}/app-%d{yyyy-MM-dd HH-mm-ss}.log">
      <PatternLayout>
      	<Header>-------------- LOGSAVER - %d{yyyy-MM-dd} --------------%n</Header>
        <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n</Pattern>
      </PatternLayout>
      <Policies>
  		<!-- <CronTriggeringPolicy schedule="0 * 6 * * ?" evaluateOnStartup="true" /> -->
        <TimeBasedTriggeringPolicy interval="1" />
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
      <DefaultRolloverStrategy>
	    <Delete basePath="${baseDir}">
	      <IfFileName glob="app-????-??-?? ??-??-??.log">
	        <IfAny>
	          <IfAccumulatedFileSize exceeds="500 MB" />
	          <IfAccumulatedFileCount exceeds="10" />
	        </IfAny>
	      </IfFileName>
	    </Delete>
	  </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="trace" >
      <AppenderRef ref="BOARollingFile"/>
    </Root>
  </Loggers>
</Configuration>